# History files
.Rhistory
# Example code in package build process
*-Ex.R
.Rproj.user
seasonal.Rproj
*.sublime-project
*.sublime-workspace
build.R

.Rapp.history

.DS_Store

# cran checks complain if it's there but vingettes cannot be built locally wo
vignettes/jss.cls
