S3method(print,seas)
export(EnsureConsistencySpclist)
export(ModSpclist)
export(OutlierTimeSeries)
export(ReadText)
export(ReadX13)
export(RunSpclist)
export(SPCSeries)
export(SpclistToTxt)
export(inspect)
export(plot.seas)
export(predict.seas)
export(seas)
export(static)
import(stringr)
